.navigation{
    height: 50px;
    background-color: #00b7cb ; 
    color:white;
    font-family: Montserrat;
    display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
   text-align: center;
  
 
 }
 

a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;

}a

.navigation ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation ul li{
  display: inline-block;
  padding: 20px;
  cursor:pointer;

}
.navigation ul li:hover {
  color: white;
background-color: #3A6168 ;
    opacity: 0.5; 
}



.navigation a:hover {
color:white;
    background-color: #3A6168 ;
    opacity: 1;
}


