@import url('https://fonts.googleapis.com/css?family=Mystery+Quest');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body {
	margin: 0;
	padding:0;
	height: 100%;
	width:100%;
}
a{
	text-decoration: none;
}
/*------------navigation bar---------------*/
nav{
    height: 80px;
    background: transparent;
    font-family: Montserrat;
    display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
   text-align: center;
  
 
 }
 
 
nav.shrink {
  height: 50px;
  transition: all ease .5s;
  background-color: #00b7cb ; 

}


nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;

}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav ul li{
	display: inline-block;
	padding: 20px;
	cursor:pointer;

}
nav ul li:hover {

	color: white;
background-color: #3A6168 ;
    opacity: 0.5;	
}

nav a:hover {
    background-color: #3A6168 ;
    opacity: 1;
}

.btn1{
font-family: 'Montserrat', sans-serif;
font-size: 16px;

color: white;
text-transform: uppercase;
text-decoration: none;
border: solid white 2px;
border-radius: 9px;
transition: all 0.5s;

}
.btn1 a:hover {
	font-color:white;
	color:#3A6168;
	border: solid #3A6168 2px;
}

/*----------------landing backgound-----------*/
.intro {
height: 100%;
	width:100%;
	
	background: url('../images/cakeintro.jpg');
	display: table;
	top:0;
	background-size: cover;
}
.fade{
	
	opacity: 1;
}
.intro-inner {
	display: table-cell;
	
	width: 100%;
	max-width: none;

}
.content {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding-top: 120px;
	}
.content h1,h3 {
	font-family: 'Mystery Quest', sans-serif;
	font-size: 300%;
font-weight: 60;
	color: #E1EFE9;
	line-height: 90%;
}

.content1 {
  
  margin: 0 auto;
 text-align: right;
  padding-top: 80px;
  font-size: 12px;
  padding-left: 400px;
  }
.content1 h1 {
  font-family: 'Mystery Quest', sans-serif;
  font-size: 550%;

  font-weight: 80;
  color: #E1EFE9;
  
}
.content2 {

  margin: 0 auto;
 text-align: left;
  padding-top: 80px;
  font-size: 12px;
  padding-left: 400px;
  color: #000000;
  }
.content2 h3 {
  color: #000000;
  padding-top:400px;
  font-family: 'Mystery Quest', sans-serif;
text-align: left;

  font-weight: 10;
  color: #E1EFE9;
  
}

.btn {
font-family: 'Montserrat', sans-serif;
font-size: 135%;
font-weight: 400;
color: #3A6168;
text-transform: uppercase;
text-decoration: none;
border: solid #3A6168 2px;

padding: 10px 20px;
border-radius: 9px;
transition: all 0.5s;
}
.btn:hover {
	color:#CBDFD6;
	border: solid #CBDFD6 2px;
}

/*-----------body div tags---------*/
.intro-image-1 {
	height: 100%;
	width:100%;
	margin: auto;
	background: url("../images/blueberrymuffins.jpg");
	display: table;
	top:0;
	background-size: cover;
}
.intro-image-2 {
	height: 100%;
	width:100%;
/*	margin: auto; */
	background: url("../images/candlebananamuffin.jpg");
	display: table;
	top:0;
	background-size: cover;
}
.intro-image-3 {
	height: 100%;
	width:100%;
	margin: auto;
	background: url("../images/ingredients2.jpg");
	display: table;
	top:0;
	background-size: cover;
}
.intro-image-4 {

	padding-top: 10%;
	margin: auto;
	background: url("../images/deliveryvan.png");
	display: table;
	top:0;
	background-size: cover;
}


#logo{
	height:300px;

	width:300px;
}

#logo3 {
	height:100px;

	width:80px;
}
p{
	font-size: 16px;
	line-height: 100%;
	font-family: 'Montserrat;

}
.logo1 {
	margin-top: 180px;
	
	height: 250px;
	width: 500px;
	padding-left: 400px;

}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#animate-area	{ 
	
	
	
	height: 440px;
/*	margin: auto; */
	top:0;
	
	background-image: url("../images/building.jpg");
	background-size: 55%;
	background-repeat: repeat-x;

	animation: animatedBackground 10s linear infinite;
}
/*---------footer------------*/
footer {
	width:100%;
	background-color: #00b7cb;
	padding: 20px 0px;
	color: white;
	margin-bottom: 0px;
}
.tableclass{
	padding-left: 250px;
	text-align: center;
}
.tableclass td{
	padding-right: 100px;
	padding-left: 100px;

}

/*-----------methods for javascript------------*/
.post{
	margin-bottom: 0px;
	
}
.post1{
	color: white;

	font-family: 'Montserrat';
	max-width: 800px;
  font-size: 15px;

}

.headings{
	padding-top: 500px;
	font-size: 200%;

}
.paddings{
	background: url("../images/flagsandcups.jpg");
}
